*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i,p{
    color: white;
}

a {
    text-decoration: none;
  }
header{
 width: 100%;
 flex: 1;
}
.header_top{
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #191919;
}

@media(max-width: 767px){
    .header_top{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .header_top{
      width: 100%;
  }
  }

.top1{
    width: 256px;
    text-align: center;
    cursor: pointer;
}

.top1 img{
    height: 50px;
}

.top2{
    height: 40px;
    width: 510px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 50px;

}

.top2input{
    width: 450px;
    height: 40px;
    display: flex;
    padding-left: 25px;
}
.top2input input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}
.top2search{
    height: 32px;
    width: 56px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.top3section{
    height: 44px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    gap: 7px;
    cursor: pointer;
}
.top3left img{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
}
.top3right{
    font-size: 0.8rem;
}

.top4left img{
    height: 15px;
    width: 20px;
}
.top4section{
    height: 44px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
}

.top4extra i{
    padding-top: 22px;
}

.top5section{
    height: 44px;
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointe
}

.top5left{
    display: flex;
    align-items: center;
}

.top5left i{
    font-size: 1.5rem;
}

.top6section{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointe
}

.pcart{
    height: 14px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
}
.pcart p{
    color: #191919;
    font-size: 0.9rem;
    font-weight: 500;
}

.header_btm{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #191919;
    font-size: 1.1rem;
}

.pcat{
    width: 180px;
    padding-left: 3px;
}

.catsec{
    height: 40px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #535353;
    border-radius: 50px;
}
.baricon{
    padding-top: 3px;
}

.catdownicon{
    font-size: 0.8rem;
    padding-top: 4px;
}

.btm2{
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ff6a00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: left;
    height: 40px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #535353;
    border-radius: 50px;
}

.dropbtn::after {
    content: '\25BC';
    float: right;
    margin-left: 10px;
}

.dropbtn:hover {
    background-color: #e65c00;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    
}

.dropdown-section {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.barra-navegacion {
    background-color: #444040;
    border-radius: 60px;
}

.menu-desplegable {
    float: left;
    overflow: hidden;
}

.boton-desplegable {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.barra-navegacion a:hover, .menu-desplegable:hover .boton-desplegable {
    background-color: #535353;
    border-radius: 60px;
}

.contenido-desplegable {
    border-radius: 8px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.contenido-desplegable a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.contenido-desplegable a:hover {
    background-color: #ddd;
}

.menu-desplegable:hover .contenido-desplegable {
    display: block;
}

.btm3{
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btm4{
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btm5{
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btm6{
    height: 40px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btm7{
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btmHover:hover{
    background-color: #535353;
    border-radius: 60px;
}

.search-container {
    position: relative;
    width: 450px;
    height: 40px;
    display: flex;
    padding-left: 25px;
}

#search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
    display: none;
    border-radius: 8px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.desplegable {
    position: relative;
    display: inline-block;
}

.opciones-desplegables {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}

.opciones-desplegables a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;            border-radius: 8px;
}

.opciones-desplegables a:hover {
    background-color: #f1f1f1;
    cursor:pointer;
    border-radius: 8px;
}

.desplegable:hover .opciones-desplegables {
    display: block;
}

.desplegable:hover .boton-desplegable {
    background-color: #1b1d1c;
    width: 70px;
    height: 70px;
}

.boton-desplegable {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.transparent-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.transparent-button i {
    width: 100%;
    height: 100%;
}
